<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">


<servlet>
<servlet-name>accueil</servlet-name>
<servlet-class>com.project.servlets.accueil</servlet-class>
</servlet>

<servlet>
<servlet-name>ListeVoitures</servlet-name>
<servlet-class>com.project.servlets.ListVoiture</servlet-class>
</servlet>

<servlet>
<servlet-name>Panier</servlet-name>
<servlet-class>com.project.servlets.panier.Panier</servlet-class>
</servlet>

<servlet>
<servlet-name>Paiement</servlet-name>
<servlet-class>com.project.servlets.panier.Paiement</servlet-class>
</servlet>

<servlet>
<servlet-name>profil</servlet-name>
<servlet-class>com.project.servlets.profil.profil</servlet-class>
</servlet>

<servlet>
<servlet-name>Editprofil</servlet-name>
<servlet-class>com.project.servlets.profil.Editprofil</servlet-class>
</servlet>

<servlet>
<servlet-name>Voiture</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.Voiture</servlet-class>
</servlet>

<servlet>
<servlet-name>EditVoiture</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.EditVoiture</servlet-class>
</servlet>


<servlet>
<servlet-name>ProfilListeVoitures</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.ListeVoitures</servlet-class>
</servlet>

<servlet>
<servlet-name>EditAssurance</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.EditAssurance</servlet-class>
</servlet>

<servlet>
<servlet-name>RepairVoiture</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.RepairVoiture</servlet-class>
</servlet>

<servlet>
<servlet-name>RepriseVoiture</servlet-name>
<servlet-class>com.project.servlets.profil.Voiture.RepriseVoiture</servlet-class>
</servlet>




<servlet-mapping>
<servlet-name>accueil</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ListeVoitures</servlet-name>
<url-pattern>/ListeVoitures</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Panier</servlet-name>
<url-pattern>/Panier</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Paiement</servlet-name>
<url-pattern>/Paiement</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>profil</servlet-name>
<url-pattern>/profil</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Editprofil</servlet-name>
<url-pattern>/Editprofil</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>Voiture</servlet-name>
<url-pattern>/Profil/Voiture</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>EditVoiture</servlet-name>
<url-pattern>/Profil/EditVoiture</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ProfilListeVoitures</servlet-name>
<url-pattern>/Profil/ListeVoitures</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>EditAssurance</servlet-name>
<url-pattern>/Profil/EditAssurance</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>RepairVoiture</servlet-name>
<url-pattern>/Profil/RepairVoiture</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>RepriseVoiture</servlet-name>
<url-pattern>/Profil/RepriseVoiture</url-pattern>
</servlet-mapping>

</web-app>